<div class="container">
  <div class="headerTitle">
    <h1>Iniciar Sesion</h1>
  </div>

  <div class="contForm">
    <form
      class="formContainer"
      autocomplete="off"
      [formGroup]="loginForm"
      (ngSubmit)="login()"
    >
      <div class="form-group">
        <input
          type="email"
          id="email"
          class="form-input md-light"
          formControlName="email"
          placeholder=" "
        />
        <label for="email" class="form-label">Email:</label>
        <span class="form-line"></span>
      </div>

      <div class="form-group">
        <input
          type="password"
          id="password"
          class="form-input md-light"
          formControlName="password"
          placeholder=" "
        />
        <label for="password" class="form-label">Contraseña:</label>
        <span class="form-line"></span>
      </div>

      <div class="contBtn">
        <button type="submit" class="btnAuth">Login</button>
      </div>
    </form>
  </div>

  <div class="options">
    <p>
      No tengo cuenta.
      <span routerLink="register" class="redirectText">Registrarme</span>
    </p>
    <p>Olvide mi contraseña</p>
  </div>
</div>
