<div class="container">
  <div class="headerTitle">
    <h1>Crear Cuenta</h1>
  </div>

  <div class="contForm">

    <form class="formContainer">
      <div class="form-group">
        <input
          type="email"
          id="email"
          class="form-input md-light"
          placeholder=" "
        />
        <label for="email" class="form-label">Email:</label>
        <span class="form-line"></span>
      </div>

      <div class="form-group">
        <input
          type="text"
          id="user"
          class="form-input md-light"
          placeholder=" "
        />
        <label for="user" class="form-label">Usuario:</label>
        <span class="form-line"></span>
      </div>

      <div class="form-group">
        <input
          type="password"
          id="password"
          class="form-input md-light"
          placeholder=" "
        />
        <label for="password" class="form-label">Contraseña:</label>
        <span class="form-line"></span>
      </div>

      <div class="contBtn">
        <button type="submit" class="btnAuth">Login</button>
      </div>
    </form>

  </div>

  <div class="options">
    <p>No tengo cuenta. <span class="redirectText">Registrarme</span></p>
    <p>Olvide mi contraseña</p>
  </div>
</div>
