<div class="containerSearch">

  <form
    (ngSubmit)="search()"
    autocomplete="off"
  >
    <div class="contInput">
      <input
        type="text"
        placeholder="Buscar productos"
        name="word"
        [(ngModel)]="word"
        (input)="pressKey()"
        (keydown.enter)="redirect()"
      />
      <button>
        <img src="assets/img/shared/search.svg" alt="q">
      </button>
    </div>
  </form>

  <div class="containerOptions" [ngClass]="{'expanded': isExpanded}" *ngIf="word">
    <div class="contSearch">
      <div *ngFor="let wordFound of wordsFound">
        <p (click)="assignWords(wordFound.name)">
          {{ wordFound.name }}
        </p>
      </div>
    </div>
  </div>

</div>
